%% -*- mode: erlang -*-
%% Erlang compiler options
{erl_opts, [debug_info]}.
			
%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

%% Target directory
%%{target_dir, "./ebin"}.


{cover_enabled, true}.

{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.


%% List of dependencies
{deps, [
			{log4erl, ".*", {git, "https://github.com/ahmednawras/log4erl.git", {branch, "master"}}}
		]
}.
